# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Other common files
.env
*.DS_Store

# Images
*.png

# Last runs
MCMC/logs/quickdesperate*

# Ignore planetoid files
GNN/nets